
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:white;
}

header hr {
  background-color: red;
  height: 5px;
  border: none;   
}



footer hr {
    background-color: green;
    height: 5px;
    border: none; 
    margin-bottom: 20px;
}

main {
    padding: 20px;
}
.logo {
    display: flex;
    justify-content:center;
    gap: 20px;
}

a {
    text-decoration:none;
    color:green;
    transition: 0.5s;
}

a:hover {
    color:red;
    text-decoration: underline;
}

main hr {
    width: 100%;         /* ocupa todo el ancho del contenedor */
    max-width: 500px;    /* opcional, para limitarlo */
    border: none;
    height: 1px;
    background-color: black;

}
.redireccionamiento {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 35px;
}

footer {
  
  padding: 10px;
  text-align: center;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* que ocupe toda la pantalla */
}

main {
    flex: 1;
}

.info_plato ul {
    list-style: none;
}

.vuelta {
    display: flex;
    justify-content: end;
}

.redireccionamiento a {
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
}


.parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 8px;
}


    
.div1 {
    grid-column: span 2 / span 2;
    display: flex;
    justify-content: center;
    width: 800px;
    margin: 20px auto;
    padding: 15px;
    background-color: white;
    border: 1px solid #C1DBB3;
    border-radius: 10px;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    display: flex;
    justify-content: center;
    width: 800px;
    margin: 20px auto;
    padding: 15px;
    background-color: white;
    border: 1px solid #C1DBB3;
    border-radius: 10px;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
    display: flex;
    justify-content: center;
    width: 800px;
    margin: 20px auto;
    padding: 15px;
    background-color: white;
    border: 1px solid #C1DBB3;
    border-radius: 10px;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
    width: 800px;
    margin: 20px auto;
    padding: 15px;
    background-color: white;
    border: 1px solid #C1DBB3;
    border-radius: 10px;

}
    
.division img{
    max-width: 30%;
    height: auto;
    border-radius: 10px;
}   


.division {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.pp {
    display: flex;
    align-items: flex-start; /* alinea arriba */
    gap: 15px; /* espacio entre imagen y texto */
}

.pp img {
    height: 150px;
    border-radius: 8px;
}

.info_plato {
    flex: 1; /* que el texto use el resto del espacio */
    white-space: normal; /* permite que baje de línea */
    line-height: 20px;
}
